.inputTextField {
    width: 540px;
    border: 1px solid red;
}


.inputTextField label {
    color: var(--text-color);
}

.inputTextField input {
    display: block;
    width: 540px;
    text-align: right;
    background: var(--bg-shade);
    padding: 8px 20px;
    font-size: 2rem;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
}


.inputTextField input:active {
    outline: none;
    border: 2px solid(--base-green);
}

.inputTextField label {
    display: inline-block;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 20px;
    margin-left: 12px;
}

.error {
    margin-right: 4px;
    margin-left: auto;
    border: 1px solid red;
    float: right;
}








