label:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50px;
    bottom: 0.5;
    width: 20px;
    background: url('./Vector.svg') center / contain no-repeat;
  }


.inputNumOfPeople {
    position: relative;
    width: 540px;
    left:61px;
}


/* .inputNumOfPeople label {
    color: var(--text-color);
} */

.inputNumOfPeople input {
    display: block;
    width: 540px;
    text-align: right;
    background: var(--bg-shade);
    padding: 8px 20px;
    font-size: 2rem;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    color: var(--dark-green);
    
    border-radius: 6px;
}


.inputNumOfPeople input:active {
    outline: none;
    border: 2px solid var(--base-green);
}


.inputNumOfPeople label {
    display: inline-block;
    bottom:176px;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 20px;
    margin-left: 0;
    color: var(--text-color);
   
}

.error {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--error);
    letter-spacing: 0.1em;
    font-style: normal;
  }
  
