.register-page {
    height: 100%;
    padding: 5% 0% 2% 0%;
    background: linear-gradient(
        124.99deg,
        #130908 -2.55%,
        rgba(19, 9, 8, 0) -2.55%,
        #370c0f 100%
      ),
      url(http://localhost:6006/2715d203e7fb78b31545.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 644px;
    background: #1d253a;
    border-radius: 12px;
    padding: 0px 7%;
  }
  
  .input-field-container {
    width: 100%;
  }
  
  .register-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
  
  .register-container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .input-field {
    width: 100%;
    height: 40px;
    background: #333333;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 3%;
  }
  
  .input-field::placeholder {
    position: absolute;
    width: 38px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.4);
    padding: 9px 284px 10px 16px;
  }