/* 
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .App-header {
  display: flex;
  margin: 0 auto;
  padding-top: 3.75em;
  width: 90%;
  justify-content: center;
} */

/* .App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-container {
} */
